// Colors
$color-blue--base: #353b48;
$color-grey--base: #dddddd;
$color-white--base: #ffffff;

// Screen sizes
$screen-xg: 1400px;
$screen-lg: 1200px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-xs: 540px;
$screen-mc: 480px;